/*reset para el html*/

* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans JP", sans-serif;
}

html {
  font-size: 62.5%;
  font-size: 1rem;
}

/*eliminando el efecto y el color de las anclas para que todas queden igual*/

a {
  text-decoration: none !important;
  color: white !important;
}

/*usando el hover en los enlaces*/

a:hover {
  color: rgb(4, 226, 255) !important;
}

/*clases para el header*/
.header {
  background-image: radial-gradient(
    circle farthest-corner at 5% 20%,
    rgba(37, 145, 251, 0.98) 0.1%,
    rgba(0, 7, 128, 1) 99.8%
  );

}

/*clase para el logo */

.logo {
  margin: 0.5rem;
  padding: 00.5rem;
}

/*main*/

.main {
  color: rgb(5, 12, 109);
}

/*clase para los formularios*/

.form {
  margin: auto;
  /*background-color: rgba(228, 228, 228, 0.973);*/
  padding: 1rem;
  border: rgb(177, 177, 177) 0.1rem solid;
  /*width: 30rem;
  height: 100%;*/
  border-radius: 1rem;
  /*text-align: center;*/
  box-shadow: 0.5rem 0.5rem 2rem rgb(184, 184, 184);
}

/* Clase para el footer */

.footer {
  background-image: radial-gradient(rgb(0, 183, 255), #1f4de4e0);
  color: white;
}

.footer__img--img {
  height: 3rem;
  width: 3rem;
  border-color: white;
  border-style: solid;
  background-color: white;
  border-radius: 25%;
}
